@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
/***********VARIABLES********/
/***********MIXINS***********/
/***********STYLES***********/
 .background {
	 height: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+26,d5eae0+100 */
	 background: #f4f4f4;
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(213, 234, 224, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d5eae0',GradientType=0);
	/* IE6-9 */
}
 .flower-container {
	 height: 720px;
	 width: 400px;
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%);
	 transform-origin: 0 50%;
	 overflow: hidden;
	 border: 20px solid #fff;
	 border-radius: 12px;
	 box-shadow: 8px 8px 8px rgba(128, 128, 128, 0.22);
	 margin-top: 20px;
}
 .flower-stem {
	 height: 400px;
	 width: 176px;
	 border-left: 8px solid #105e10;
	 border-radius: 0 0 0 50%;
	 position: absolute;
	 left: 48%;
	 top: 40%;
}
 .flower-leaf {
	 height: 40px;
	 width: 80px;
	 position: absolute;
	 background-color: #105e10;
	 border-radius: 0 50Array/0Array 100%;
	 top: 57%;
	 left: 48%;
	 transform: translateX(-90%) rotate(15deg);
	 overflow: hidden;
}
 .flower-leaf:before {
	 content: '';
	 position: absolute;
	 width: 125%;
	 height: 100%;
	 bottom: -25%;
	 right: -8%;
	 background-color: rgba(82, 160, 90, 0.41);
	 transform: rotate(27deg);
	 border-radius: 50%;
}
 .flower-text {
	 font-family: 'Special Elite', cursive;
	 text-align: center;
	 top: 85%;
	 position: relative;
	 padding: 4%;
	 background-color: #fff;
	 font-size: 1.9em;
}
 .flower-top {
	 height: 400px;
	 width: 400px;
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%);
	 transform-origin: 0 50%;
	 animation: flower-rotate 10s infinite linear;
}
 .flower-center {
	 height: 80px;
	 width: 80px;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 border-radius: 50%;
	 border: 2px solid #ffc15b;
	 transform: translate3D(-50%, -50%, 0);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1ff32+0,ffd000+100 */
	 background: #f1ff32;
	/* Old browsers */
	 background: -moz-radial-gradient(center, ellipse cover, rgba(241, 255, 50, 1) 0%, rgba(255, 208, 0, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241, 255, 50, 1)), color-stop(100%, rgba(255, 208, 0, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-radial-gradient(center, ellipse cover, rgba(241, 255, 50, 1) 0%, rgba(255, 208, 0, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-radial-gradient(center, ellipse cover, rgba(241, 255, 50, 1) 0%, rgba(255, 208, 0, 1) 100%);
	/* Opera 12+ */
	 background: -ms-radial-gradient(center, ellipse cover, rgba(241, 255, 50, 1) 0%, rgba(255, 208, 0, 1) 100%);
	/* IE10+ */
	 background: radial-gradient(ellipse at center, rgba(241, 255, 50, 1) 0%, rgba(255, 208, 0, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1ff32', endColorstr='#ffd000',GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	 z-index: 2;
	 animation: flower-center-pulse 0.3s infinite ease alternate;
}
 .flower-petal {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform-origin: 50% 120%;
	 height: 160px;
	 width: 57.1428571429px;
	 border-radius: 90% 90% 57.1428571429px 57.1428571429px / 35% 35% 160px 160px;
	 border: 2px solid #dceae4;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+67,d5eae0+100 */
	 background: #fff;
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 67%, rgba(213, 234, 224, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 255, 255, 1)), color-stop(67%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(213, 234, 224, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 67%, rgba(213, 234, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 67%, rgba(213, 234, 224, 1) 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 67%, rgba(213, 234, 224, 1) 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 67%, rgba(213, 234, 224, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d5eae0',GradientType=0);
	/* IE6-9 */
}
 .flower-petal:after, .flower-petal:before {
	 content: '';
	 position: absolute;
	 height: 80px;
	 border: 1.3333333333px solid rgba(198, 217, 208, 0.44);
	 bottom: 0;
}
 .flower-petal:before {
	 left: 36%;
	 transform: rotate(-7deg);
}
 .flower-petal:after {
	 left: 64%;
	 transform: rotate(7deg);
}
 .flower-petal:nth-child(1) {
	 transform: translate3D(-50% -117%0) rotateZ(21.5deg);
	 animation: flower-petal-movement-1 1.5s infinite ease 0.2s;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+26,d5eae0+100 */
	 background: #f4f4f4;
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(213, 234, 224, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d5eae0',GradientType=0);
	/* IE6-9 */
}
 @keyframes flower-petal-movement-1 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(21.5deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(21.5deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(21.5deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(2) {
	 transform: translate3D(-50% -119%0) rotateZ(44deg);
	 animation: flower-petal-movement-2 1.5s infinite ease 0.5s;
	 z-index: 1;
}
 @keyframes flower-petal-movement-2 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(44deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(44deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(44deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(3) {
	 transform: translate3D(-50% -110%0) rotateZ(66.5deg);
	 animation: flower-petal-movement-3 1.5s infinite ease 0.4s;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+26,d5eae0+100 */
	 background: #f4f4f4;
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(213, 234, 224, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d5eae0',GradientType=0);
	/* IE6-9 */
}
 @keyframes flower-petal-movement-3 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(66.5deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(66.5deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(66.5deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(4) {
	 transform: translate3D(-50% -112%0) rotateZ(89deg);
	 animation: flower-petal-movement-4 1.5s infinite ease 0.3s;
	 z-index: 1;
}
 @keyframes flower-petal-movement-4 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(89deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(89deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(89deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(5) {
	 transform: translate3D(-50% -117%0) rotateZ(111.5deg);
	 animation: flower-petal-movement-5 1.5s infinite ease 0.2s;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+26,d5eae0+100 */
	 background: #f4f4f4;
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(213, 234, 224, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d5eae0',GradientType=0);
	/* IE6-9 */
}
 @keyframes flower-petal-movement-5 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(111.5deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(111.5deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(111.5deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(6) {
	 transform: translate3D(-50% -115%0) rotateZ(134deg);
	 animation: flower-petal-movement-6 1.5s infinite ease 0.5s;
	 z-index: 1;
}
 @keyframes flower-petal-movement-6 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(134deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(134deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(134deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(7) {
	 transform: translate3D(-50% -117%0) rotateZ(156.5deg);
	 animation: flower-petal-movement-7 1.5s infinite ease 0.2s;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+26,d5eae0+100 */
	 background: #f4f4f4;
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(213, 234, 224, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d5eae0',GradientType=0);
	/* IE6-9 */
}
 @keyframes flower-petal-movement-7 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(156.5deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(156.5deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(156.5deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(8) {
	 transform: translate3D(-50% -111%0) rotateZ(179deg);
	 animation: flower-petal-movement-8 1.5s infinite ease 0.1s;
	 z-index: 1;
}
 @keyframes flower-petal-movement-8 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(179deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(179deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(179deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(9) {
	 transform: translate3D(-50% -112%0) rotateZ(201.5deg);
	 animation: flower-petal-movement-9 1.5s infinite ease 0.3s;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+26,d5eae0+100 */
	 background: #f4f4f4;
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(213, 234, 224, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d5eae0',GradientType=0);
	/* IE6-9 */
}
 @keyframes flower-petal-movement-9 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(201.5deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(201.5deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(201.5deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(10) {
	 transform: translate3D(-50% -113%0) rotateZ(224deg);
	 animation: flower-petal-movement-10 1.5s infinite ease 0.2s;
	 z-index: 1;
}
 @keyframes flower-petal-movement-10 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(224deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(224deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(224deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(11) {
	 transform: translate3D(-50% -114%0) rotateZ(246.5deg);
	 animation: flower-petal-movement-11 1.5s infinite ease 0.4s;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+26,d5eae0+100 */
	 background: #f4f4f4;
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(213, 234, 224, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d5eae0',GradientType=0);
	/* IE6-9 */
}
 @keyframes flower-petal-movement-11 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(246.5deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(246.5deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(246.5deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(12) {
	 transform: translate3D(-50% -117%0) rotateZ(269deg);
	 animation: flower-petal-movement-12 1.5s infinite ease 0.2s;
	 z-index: 1;
}
 @keyframes flower-petal-movement-12 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(269deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(269deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(269deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(13) {
	 transform: translate3D(-50% -112%0) rotateZ(291.5deg);
	 animation: flower-petal-movement-13 1.5s infinite ease 0.1s;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+26,d5eae0+100 */
	 background: #f4f4f4;
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(213, 234, 224, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d5eae0',GradientType=0);
	/* IE6-9 */
}
 @keyframes flower-petal-movement-13 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(291.5deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(291.5deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(291.5deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(14) {
	 transform: translate3D(-50% -115%0) rotateZ(314deg);
	 animation: flower-petal-movement-14 1.5s infinite ease 0.4s;
	 z-index: 1;
}
 @keyframes flower-petal-movement-14 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(314deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(314deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(314deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(15) {
	 transform: translate3D(-50% -112%0) rotateZ(336.5deg);
	 animation: flower-petal-movement-15 1.5s infinite ease 0.5s;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+26,d5eae0+100 */
	 background: #f4f4f4;
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(213, 234, 224, 1)));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 26%, rgba(213, 234, 224, 1) 100%);
	/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d5eae0',GradientType=0);
	/* IE6-9 */
}
 @keyframes flower-petal-movement-15 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(336.5deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(336.5deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(336.5deg);
		 transform-origin: 50% 120%;
	}
}
 .flower-petal:nth-child(16) {
	 transform: translate3D(-50% -111%0) rotateZ(359deg);
	 animation: flower-petal-movement-16 1.5s infinite ease 0.1s;
	 z-index: 1;
}
 @keyframes flower-petal-movement-16 {
	 0% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(359deg);
		 transform-origin: 50% 120%;
	}
	 50% {
		 transform: translate3D(-50%, -105%, 0) rotateZ(359deg);
		 transform-origin: 50% 105%;
	}
	 100% {
		 transform: translate3D(-50%, -120%, 0) rotateZ(359deg);
		 transform-origin: 50% 120%;
	}
}
 @keyframes flower-rotate {
	 from {
		 transform: rotate(0deg) translateX(-50%);
	}
	 to {
		 transform: rotate(359deg) translateX(-50%);
	}
}
 @keyframes flower-center-pulse {
	 from {
		 height: 80px;
		 width: 80px;
	}
	 to {
		 height: 85.1063829787px;
		 width: 85.1063829787px;
	}
}
 